html, body {
	height: 100%;
}

ul {
	list-style: none;
}
h1 {
	margin-left: 3%;
}

.container {
	background-color: gray;
	width: 40%;
	height: 10%;
	margin: 0 30% 3px 30%;
	padding: 1% 0 1% 1%;
}
.logo {
	display: inline-block;
	height: 100%;
	float: left;
	width: 20%;
	text-align: center;
	padding-top: 20px;
}
.name {
	padding-top: 20px;
	display: inline-block;
	height: 100%;
	float: left;
	width: 20%;
	text-align: center;
}
.status {
	padding-top: 20px;
	display: inline-block;
	height: 100%;
	float: right;
	width: 60%;
	text-align: center;
}

#text {
	float: left;
	margin: 0;
	padding: 0;
	width: 80%;
}

#icons {
	float: right;
	text-align: right;
	margin: 0;
	width: 20%;
}