body {
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Orbitron', sans-serif;
}

h1 {
	text-align: center;
}
p {
	margin: 0;
	color: white;
}

button{
	display:inline-block;
	background-color: inherit;
	border: none;
	outline: none;
	color: white;
	height: 100%;
	width: 100%;
	border-radius: 15%;
	box-shadow: 0 3px #999;
}
button:active {
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}
.pressed {
	font-size: 30px;
}
.sign {
	background-color: none !important;
	color: white;
	margin: 13px 0;
	display: inline-block;
	font-size: 20px;
	padding: 1%;
}
.face {
	width: 270px;
	height: 360px;
	background-color: rgb(77, 77, 77);
	margin: 100px 42%;
	border-radius: 5%;
	padding: 15px 10px;
	text-align: center;
}
.container {
	width: 250px;
}
.last {
	margin-right: 0  !important ;
}
.horizontal {
	width: 111.106px !important;
}


.current {
	width: 100%;
	height: 70%;
	text-align: right;
}
.calculation {
	height: 30%;
	width: 100%;
	text-align: right;
}
.icons {
	margin: 8px 0;
	height: 35px;
	padding: 0;
	color: white;
	margin-right: 27.786px;
	border-radius: 15%;
	text-align: center;
}
.numbers {
	background-color: rgb(23, 103, 130);
}
.operator {
	background-color: rgb(23, 23, 130);
}
.red {
	background-color: rgb(130, 23, 23);
}
.green {
	background-color: rgb(50, 130, 23);
}
#display {
	width: 250px;
	background-color: #c4b7a6;
	height: 50px;
	margin: 10px 0 5px 0;
}