body {
	background-color: black;
	color: white;
	height: 100%;
}
html {
	height: 100%;
}
button {
	outline: none;
	background-color: inherit;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 24px;
	margin-right: 10px;
}
span {
	display: inline-block;
	margin-right: 10px;
	color: white;
	font-size: 24px;
}
.container {
	background-color: inherit;
	height: 70%;
	width: 50%;
	box-sizing: border-box;
	position: absolute;
	top: 20%;
	left: 25%;
}
.row {
	height: 100%;
}

.tiles {
	position: relative;
	width: 100%;
	height: 33.3%;
	float: left;
}
.tile {
	position: relative;
	height: 100%;
	width: 30%;
	border-radius: 50%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.red {
	background-color: #ff4d4d;
}
.green {
	background-color: #79ff4d;
}
.blue {
	background-color: #4d79ff;
}
.yellow {
	background-color: #ffff4d;
}
#controls {
	background-color: inherit;
	text-align: center;
	padding-top: 75px;
	box-sizing: border-box;
}
