body {
	background-color: #092B40;
	height: 100%;
	color: white;
	font-size: 24px;
}

html {
	height: 100%;
}
a {
	text-decoration: none;
	color: white;
}

ul {
	display: none;
	list-style: none;
	font-size: 14px;
	text-align: left;
}
input {
	height: 100%;
}
h1 {
	font-size: 20px;
}

li {
	background-color: #E7E7E8;
	color: black;
	padding: 1.5%;
	margin: 10px 10%;
	width: 80%;
}

button {
	margin-left: 3px;
	border: none;
	background-color: inherit;
	outline: none;
	color: white;
	height: 100%;
}

li:hover {
	border-left: 3px solid orange;
}
.shift {
	padding-top: 20%;
}
.hide {
	display: none;
}
#container	{
	text-align: center;
	width: 100%;
	margin: auto;
}
