body {
	background-color: steelblue;
	height: 100%;
	margin: 0;
	width: 100%;
	transition: all 1s;
	display:relative;
}
h1 {
	font-weight: normal;
	font-family: 'Pacifico', cursive;
	margin: 0;
	transition: all 1s;
}

html {
	height: 100%;
}

a {
	display: block;
	background-color: steelblue;
	color: white;
	height: 100%;
	float: left;
	margin-right: 5px;
	padding-top: 5px;
	box-sizing: border-box;
	border-radius: 50%;
	width: 10%;
	margin-bottom: 2px;
}

button {
	border: none;
	height: 100%;
	outline: none;
	background-color: steelblue;
	color: white;
	float: right;
}

#container {
	width: 25%;
	position: absolute;
	top: 15%;
	left: 36%;
	background-color: white;
	
	padding: 2% 2%;
	text-align: center;
}

#commands {
	height: 30px;
	text-align: center;
	padding: 5%;
}
#author {
	margin: 4%;
	height: 10%;

}

